[Unit]
Description=Docker event notifier

[Service]
ExecStart=/opt/swarmc/5gc_docker_swarm/docker_events_notifier/run.sh
Type=simple
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
